*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


.main-introduction{
    padding: 180px;
    color: white;

}

.main-introduction p{
  font-size: 20px;
}

h1{
    font-size: 80px;
    padding: 40px 20px;
    font-family: sans-serif;
}

h2{
    text-align: center;
    font-size: 45px;
    color: white;
    padding-top: 50px;
}

h4{
    font-size: 30px;
    padding-left: 10px;
}

.app-content ul{
    list-style-type: none;
}


.banner-quote{
width: 100%;
height: 200px;
background-size: 100%;
background-repeat: no-repeat;
}

.banner-image{
    background-image: url(images/sensability-background-image-01.png);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.app-benefits{
display: flex;
padding: 80px;
}



.app-images img{
    max-width: 60%;
}

.app-process img{
    max-width: 50%;
}

img{
    max-width: 100%;
}

.app-benefits p{
 padding-left: 30px;
 font-size: 20px;
 padding-top: 25px;

}

.subscription{
    background-color: #7F6991;
    padding: 20px;
}

.plans{
    display: flex;
}

.plans-description{
    display:flex;
    align-items: center;
    padding: 10px;
}

.card{
    background-color: #D6CAC4 ;
    border-radius: 0.4rem;
    padding:30px;
}

.card h3{
    font-size: 25px;
    padding-bottom: 20px;
    font-family: sans-serif;
    color: #223C5B;

}

.card-content ul{
    font-size: 20px;
    list-style-type: none;
    color: #223C5B;
}